* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #b0b3e7;
}

nav {
    background: linear-gradient(45deg, #1bce89, #001482);
    padding: 20px;
    position: absolute;
    width: 100%;
    bottom: 0;
}

nav > ul {
    list-style-type: none;
    display:flex;
}

nav > ul > li > a {
    text-decoration: none;
    color: #e80f0f;
    padding: 10px;    
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    
    margin: 0
}

/* 600 px */
@media (min-width: 600px) {
    body {
        background: linear-gradient(to bottom, #FF9A76, #333);
    }
    
    nav {
        top: 0;
        bottom: auto;
    }
}